/* 1. RESET Y ESTILOS BASE */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #111;
    color: #f5f5f5;
    line-height: 1.6;
    overflow-x: hidden;
}